/* Reset */

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
picture {
    max-width: 100%;
}

body {
    min-height: 100vh;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* General */

.viewsettings {
    text-align: right;
    height: 50px;
    line-height: 40px;
}

#speaker {
    color: white;
    vertical-align: middle;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
}

.top-icon {
    color: white;
    vertical-align: middle;
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
    margin-right: 5px;
}

/* Main style */

.main-row {
    height: 130px;
    justify-content: space-between;
    margin-top: 10px;
}

.box {
    height: 130px;
    width: 165px;
}

/* Footer style */

.bar {
    height: 70px;
    background-color: lightgray;
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
}

.botbox-left {
    flex-basis: 20%;
    background-color: #222222;
    display: flex;
}

.botbox-mid {
    flex-basis: 60%;
    background-color: #222222;
    display: flex;
    justify-content: center;
}

.botbox-right {
    flex-basis: 20%;
    display: flex;
    justify-content: right;
    background-color: #222222;
}

.bot-icon {
    color: white;
    font-size: 25px;
}

.options {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 10px;
}

p {
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

.chevron {
    color: white;
    font-size: 10px;
}

#share {
    color: #4BC800;
}

#end {
    color: red;
}

.end-button {
    height: 70px;
    width: 100px;
    background-color: #4A4A4A;
}


