/* Reset */

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
picture {
    max-width: 100%;
}

body {
    min-height: 100vh;
    background-color: black;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* General */

.viewsettings {
    text-align: right;
    height: 50px;
    line-height: 40px;
    margin: 0 100px;
}

#speaker {
    color: white;
    vertical-align: middle;
    padding: 5px;
    background-color: grey;
    border-radius: 10px;
    margin-right: 5px;
}

.top-icon {
    color: white;
    vertical-align: middle;
    padding: 5px;
    background-color: grey;
    border-radius: 10px;
    margin-right: 5px;
}

/* Main style */

.main-row {
    height: 100px;
    justify-content: space-between;
    margin-top: 10px;
}

.box {
    height: 100px;
    width: 165px;
    background-color: aqua;
}

/* Footer style */

.bar {
    height: 50px;
    background-color: lightgray;
    margin-top: 100px;
    justify-content: space-between;
}

.botbox-left {
    flex-basis: 20%;
    background-color: brown;
    border: 2px dashed white;
}

.botbox-mid {
    flex-basis: 60%;
    background-color: brown;
    border: 2px dashed white;
}

.botbox-right {
    flex-basis: 20%;
    background-color: brown;
    border: 2px dashed white;
}